.header {
    display: flex;
    position: relative;
    min-height: 500px;
    max-height: 600px;
    margin: 0;
    padding: 0;
    /* выше установили ограничения для секции */
}

@media screen and (max-width:600px) {
    .header {
        min-height: 150px;
        max-height: 200px;
        border: 1px solid red;
    }
}