.services__triangle {
    position: absolute;
    top: 400px;
    right: 150px;
    width: 577px;
    height: 577px;
    z-index: 0;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: contain;
}

@media screen and (max-width:600px) {
    .services__triangle {
        top: 200PX;
        right: 0;
    }
}