.services__image {
    width: 44px;
    height: 44px;
    margin-left: 5vw;
    z-index: 1;
}

@media screen and (max-width:600px) {
    .services__image {
        width: 35px;
        height: 35px;
    }
}